<<<<<<< HEAD
*{
     margin:0px;
     padding:0;
     font-family: "Times New Roman", Times, serif;

}
body{
		width:100%;
}
p.introduction,h3{
	margin-top:15px;
	text-align:center;
}
 h3{
color:#cc6011;
}

/******* header **************/

.header {
  padding: 80px;
  background-image: url("../Img/hi.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Logoright {
	float :left ;
	height:60px;
	width:100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc6011;
  float:right;
}

img{
width:100%;

}

li {
	display: inline-block;
	width:14em;
	height:5em;
	float: right;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 30px  30px;
  text-decoration: none;

}

li a:hover {
  background-color: #fff;
  color: #cc6011;
}

/* need to fix !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.cartIcon {
  background-image: url("../Img/logo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/******* the home page **************//*

/******* the home page **************/
.flex-container-HaarlemIndex .article1
{
	 min-width:23% ;
     width:23% ;
     padding-bottom:0px;
     margin-bottom:10px;
     max-height:32%;
	 border-width:2px;
	 border-style:solid;
     border-color:#cc6611;
}
.flex-container-HaarlemIndex .article1 img
{
	  max-width:99% ;
     width:99% ;
     margin-bottom:4px;
     margin-top:4px;
     height:20%;
     background-size: contain;
     background-position: 100% 100%;
     background-repeat: no-repeat;
}
 .flex-container-HaarlemIndex .article1 input {
     max-width:50% ;
     width:50% ;
	 color :#fff;
	 background-color:#cc6011;
	 padding: 12px 12px;
	 margin-top: 50px;
	 margin-bottom:0px;
	 margin-left:20% ;

}
 .flex-container-HaarlemIndex .article1 input:hover {
	 color :#cc6011;
	 background-color: #fff;
	 border:solid 2px #cc6011;

}
/***************haarlem food*************/
 .flex-container-HaarlemFood ,.flex-container-HaarlemIndex ,.flex-container-reservation{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -ms-flex-pack: distribute;
     justify-content: space-around;
     padding-top :0.5%;
     padding-right :0.5%;
     min-width:100% ;
     width:100% ;
}
 .flex-container-HaarlemFood .article1{
     min-width:32% ;
     width:32% ;
     padding-bottom:0px;
     margin-bottom:10px;
     max-height:32%;
	 border-width:2px;
	 border-style:solid;
     border-color:#cc6611;
}
 .flex-container-HaarlemFood .article1 img {
     max-width:99% ;
     width:99% ;
     margin-bottom:4px;
     margin-top:4px;
     height:40%;
     background-size: contain;
     background-position: 100% 100%;
     background-repeat: no-repeat;
}
 .flex-container-HaarlemFood .article1 input {
     max-width:50% ;
     width:50% ;
	 color :#fff;
	 background-color:#cc6011;
	 padding: 12px 12px;
	 margin-top: 50px;
	 margin-left:20% ;

}
 .flex-container-HaarlemFood .article1 h3 {
	 color :#cc6011;
	 text-align:center;
}
 .flex-container-HaarlemFood .article1 p {
	 text-align:left;
	 padding-left :5px;
}
 .flex-container-HaarlemFood .article1 input:hover {
	 color :#cc6011;
	 background-color: #fff;
	 border:solid 2px #cc6011;

}
.searchClass{
	padding :20px;
}
.flex-container-reservation input[type="submit"]
{
     max-width:70% ;
     width:70% ;
	 color :#fff;
	 background-color:#cc6011;
	 padding: 12px 12px;
	 margin-top: 50px;
	 margin-left:20% ;
}
#login{
  font-size: 28px;
  color: #cc6011;
  width:60%;
  margin:100px auto;
  background-color: #ffff
}
.login-button{
  width: 30%;
  color: #ffff;
  text-align: center;
  background:#cc6011;
}
.login-button2{
  width: 30%;
  color: #0000FF;
  text-align: center;
  background:#ffff;
}
footer {
  padding: 20px;
  text-align: center;
  color:#fff;
  background:#cc6011;
  width :100%;
}
.cms_button {
  text-align: center;
  color:#fff;
  background:#cc6011;
  border-style: :none;
  border-color: #cc6011;
}
=======
*{
     margin:0px;
     padding:0;
     font-family: "Times New Roman", Times, serif;

}
body{
	margin : 15px;
}
p.introduction,h3{
	margin-top:15px;
	text-align:center;
}
 h3{
color:#cc6011;
}

/******* header **************/

.header {
  padding: 80px;
  background-image: url("../Img/hi.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Logoright {
	float :left ;
	height:60px;
	width:100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc6011;
}

img{
width:50%;

}

li {
	display: inline-block;
	width:14em;
	height:5em;
	float: right;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 30px  30px;
  text-decoration: none;

}

li a:hover {
  background-color: #fff;
  color: #cc6011;
}

/* need to fix !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.cartIcon {
  background-image: url("../Img/logo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/******* the home page **************//*
.flex-container-HaarlemIndex .article1
{
	 min-width:23% ;
     width:23% ;
     padding-bottom:0px;
     margin-bottom:10px;
     max-height:32%;
	 border-width:2px;
	 border-style:solid;
     border-color:#cc6611;
}
.flex-container-HaarlemIndex .article1 img
{
	  max-width:99% ;
     width:99% ;
     margin-bottom:4px;
     margin-top:4px;
     height:20%;
     background-size: contain;
     background-position: 100% 100%;
     background-repeat: no-repeat;
}
 .flex-container-HaarlemIndex .article1 input {
     max-width:50% ;
     width:50% ;
	 color :#fff;
	 background-color:#cc6011;
	 padding: 12px 12px;
	 margin-top: 50px;
	 margin-bottom:0px;
	 margin-left:20% ;

}
 .flex-container-HaarlemIndex .article1 input:hover {
	 color :#cc6011;
	 background-color: #fff;
	 border:solid 2px #cc6011;

}
/***************haarlem food*************/
 .flex-container-HaarlemFood ,.flex-container-HaarlemIndex ,.flex-container-reservation{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -ms-flex-pack: distribute;
     justify-content: space-around;
     padding-top :0.5%;
     padding-right :0.5%;
     min-width:100% ;
     width:100% ;
}
 .flex-container-HaarlemFood .article1{
     min-width:32% ;
     width:32% ;
     padding-bottom:0px;
     margin-bottom:10px;
     max-height:32%;
	 border-width:2px;
	 border-style:solid;
     border-color:#cc6611;
}
 .flex-container-HaarlemFood .article1 img {
     max-width:99% ;
     width:99% ;
     margin-bottom:4px;
     margin-top:4px;
     height:40%;
     background-size: contain;
     background-position: 100% 100%;
     background-repeat: no-repeat;
}
 .flex-container-HaarlemFood .article1 input {
     max-width:50% ;
     width:50% ;
	 color :#fff;
	 background-color:#cc6011;
	 padding: 12px 12px;
	 margin-top: 50px;
	 margin-left:20% ;

}
 .flex-container-HaarlemFood .article1 h3 {
	 color :#cc6011;
	 text-align:center;
}
 .flex-container-HaarlemFood .article1 p {
	 text-align:left;
	 padding-left :5px;
}
 .flex-container-HaarlemFood .article1 input:hover {
	 color :#cc6011;
	 background-color: #fff;
	 border:solid 2px #cc6011;

}
.searchClass{
	padding :20px;
}
.flex-container-reservation input[type="submit"]
{
     max-width:70% ;
     width:70% ;
	 color :#fff;
	 background-color:#cc6011;
	 padding: 12px 12px;
	 margin-top: 50px;
	 margin-left:20% ;
}
#login{
  font-size: 28px;
  color: #cc6011;
  width:60%;
  margin:100px auto;
  background-color: #ffff
}
.login-button{
  width: 30%;
  color: #ffff;
  text-align: center;
  background:#cc6011;
}
.login-button2{
  width: 30%;
  color: #0000FF;
  text-align: center;
  background:#ffff;
}
footer {
  padding: 20px;
  text-align: center;
  color:#fff;
  background:#cc6011;
  width :100%;
}
.cms_button {
  text-align: center;
  color:#fff;
  background:#cc6011;
  border-style: :none;
  border-color: #cc6011;
}
>>>>>>> 8e0c5c8c2960c6d04fd45c613e5288412df108e4
